.service-repair-container {
    background-image: url('../../images/service-repairBG.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    margin-top: -2px;
}

.service-repair-container h2 {
    text-align: center;
    font-weight: 800;
    margin-top: 100px;
}

.service-card-info {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.295);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 90px;
}

.service-card-image {
    position: relative;
    overflow: hidden;
}

.service-card-image img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 5px;
    overflow: hidden;
}

.service-card-image:hover img {
    transform: scale(1.2);
    transition: transform 1s;
}

.middle-content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.service-card-info:hover .middle-content{
    display: block;
    background-color: rgba(90, 90, 89, 0.3);
    opacity: 1;
    border-radius: 10px;
} 

.middle-btn {
    background-color: #0178ff;
    color: white;
    font-size: 14px;
    padding: 10px 10px;
    border: hidden;
    border-radius: 10px;
}

.service-card-text {
    margin-top: 60px;
}

.service-card-text h4 {
    text-align: center;
}

.service-card-text p {
    text-align:inherit;
    padding: 20px;
}

/* button Animation */
.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 0.5em 0.5em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
    color: #48fcb1;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
  }
  .button:hover {
    background: rgba(8, 0, 0, 0.63);
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    transform: scaleY(0);
  }