.service-repair-container {
    background-image: url('../../images/service-repairBG.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    margin-top: -2px;
}

.service-repair-container h2 {
    text-align: center;
    font-weight: 800;
    margin-top: 100px;
}

