.left-panel{
    width: 100%;
    height: 577px;
    background-color: #fde8e8;
}
.left-panel img{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.sidebar{
    margin-top: 20px;
}
.sidebar-menu{
    color: #5400c2;
    font-weight: 700;
    margin-left: 45px;
}
.sidebar-menu:hover{
    color: #b3004a;
}
.right-panel {
    width: 100%;
    height: 577px;
    background-color: #e8fdf0;
}
.right-panel h3 {
    text-align: center;
    font-weight: 700;
    color: #5400c2;
    margin-top: 30px;
}
.form-container{
    margin-top: 30px;
    margin-left: 230px;
}
.pay-text{
    font-weight: 600;
}

.payment-icon {
    margin-left: 10px;
    color: #5400c2;
    font-size: 20px;
}
.submit-btn input {
    margin-left: 165px;
    border: none;
    background-color: #5400c2;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.submit-btn:hover input{
    background-color: #b3004a;
}