.testimonials-container {
    width: 100%;
}

.testimonials-container h2 {
    color: #00ac09;
    text-align: center;
    font-weight: 800;
    margin-top: 80px;
}

.testimonial-card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(31, 29, 29, 0.589);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin-top: 70px;
}

.testimonial-card:hover {
    box-shadow: 0 8px 16px 0 rgba(39, 38, 38, 0.555);
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-info {
    margin: 5px 0 0 5px;
}

.logo-info p {
    font-size: 12px;
    margin-top: -5px;
    font-weight: 600;
}