.nav-brand {
  color: #f00404;
}

.nav-brand:hover {
  color: #16b301;
}

.btn-brand {
  background-image: linear-gradient(75deg, #2ead4e, #46fa70);
}

.btn-brand:hover {
  background-image: linear-gradient(75deg, #ff0000, #f17171);
}